/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
	--accent-color: #ff0070;
	--text-color: #f1b2ce;
	--main-title-color: #db00ff;
	--bg-cover: #000028;
	--text-color-alt: #000028;
	--outline-switch-opacity: 1px solid rgba(255, 0, 112, 0.4);
	--outline-switch: 1px solid rgb(255, 0, 112);
	--shadow: 4px 4px 0 var(--accent-color);
	--shadow-alt: 2px 2px 0 var(--accent-color);
	--main-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #ff0070;
		--text-color: #f1b2ce;
		--main-title-color: #db00ff;
		--bg-cover: #000028;
		--text-color-alt: #000028;
		--outline-switch-opacity: 1px solid rgba(255, 0, 112, 0.4);
		--outline-switch: 1px solid rgb(255, 0, 112);
		--shadow: 4px 4px 0 var(--accent-color);
		--shadow-alt: 2px 2px 0 var(--accent-color);
		--main-color: #ff0070;
	}

	.page {
		background-image: url('../images/cover-image-dark.png');
		background-color: #000028;
	}

	.header__decoration {
		visibility: visible;
	}
}

.theme_dark.page {
	background-image: url('../images/cover-image-dark.png');
	background-color: #000028;
}

.theme_dark .header__decoration {
	visibility: visible;
}
