/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--accent-color: #ff0070;
	--text-color: #f1b2ce;
	--main-title-color: #db00ff;
	--main-color: #ff0070;
	--bg-cover: #000028;
	--text-color-alt: #000028;
	--shadow-alt: 2px 2px 0 var(--accent-color);
	--font-family-base: 'IBM Plex mono', sans-serif;
	--shadow: 4px 4px 0 var(--accent-color);
	--outline-switch-opacity: 1px solid rgba(255, 0, 112, 0.4);
	--outline-switch: 1px solid rgb(255, 0, 112);
	--padding-y: 20px;
	--paddind-x: 20px;
}

@media (max-width: 480px) {
	:root {
		--paddind-x: 10px;
		--padding-y: 10px;
	}
}
